[Desktop Entry]
Type=Application
Name=aIBechos
Comment=Renombrado y subida de series, películas y anime
Exec=aIBechos
Icon=aIBechos
Terminal=false
Categories=Utility;
